
body{
     text-align:center
}
#background{
    background-image: url("MAIN-BUZZ_2000x.jpg");
    background-size: cover;
    height:fit-content;
    width: auto;
    background-repeat: no-repeat;
    padding: 390px;
   
    }
    #content{
        position: sticky;
        border: double;
        border-color: black;
        border-width: thick;
    }

    button{
        background-color: #7c67a3;
        border: none;
        color: rgb(255 153 0);
        text-align: center;
        border-radius: 12px;
        margin: 10px;
        font-family: 'Bungee', cursive;
        padding: 14px 40px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
input{
    color: gold;
    background-color: #7c67a3;
    border-radius: 10px;
    border-radius: 10px;
    width: 50%;
    font-family: 'Bungee', cursive;
    font-size: xx-large;
    text-align: center;
}
#title{
    color: rgb(255 153 0);
    font-family: 'Bungee', cursive;
}

#output{
    background-color: #7c67a3;
    color: red;
    text-shadow: rgb(30 32 33) -2px 1px;

    font-family: 'Bungee', cursive;}

#planets{
    color: rgb(255 153 0);
    text-align: center;
    font-size: large;
    margin: 10px;
    width: 50%;
    font-family: 'Bungee', cursive;
    background-color: #092a3a;
}

